[Unit]
Description=Jupyter Notebook
Requires=local-fs.target
After=local-fs.target

[Service]
User=root
# ExecStart=/usr/bin/bash -c "jupyter notebook  --allow-root  --ip=0.0.0.0 --port=8888  --notebook-dir=/home/notebook"
ExecStart=/usr/bin/bash -c "jupyter notebook --config  jupyter_notebook_config.py "
# ExecStart=/usr/bin/bash -c "jupyter notebook --config  jupyter_notebook_config.py  --debug "

[Install]
WantedBy=multi-user.target

# systemd filepath: /etc/systemd/system